body {
    background-color: #181818;
    color: #EAEAEA;
    font-family: Arial, sans-serif;
}

a {
    color: #1E90FF;
}

a:hover {
    color: #63B8FF;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
